/* You can add global styles to this file, and also import other style files */
/* Estilos globales de la aplicación */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html, body {
  font-family: "Lato", system-ui, -apple-system, sans-serif;
   font-optical-sizing: auto;
  font-style: normal;
  background: #f5f5f5;
  color: #333;
  line-height: 1.6;
}

button {
  font-family: inherit;
}

input {
  font-family: inherit;
}
